<h1>All Genres</h1>

<% @genres.each do |genre| %>
  <h3><%= link_to genre.name, genre_path(genre) %><h3>
<% end %>

<% if current_admin? %>
  <%= form_for [:admin, @genre] do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Create new genre" %>

  <% end %>
<% end %>
